To reset your password click the URL below.

%br
%br

%p= link_to 'Reset your password', "https://stormy-crag-8840.herokuapp.com/resetpassword/#{@user.password_reset_token}"

%br
%br
%p
  If you did not request your password to be reset please ignore this email and your password will stay as it is.
