default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000
  username:
  password:
  host: localhost

development:
  <<: *default
  database: capsule_development

test:
  <<: *default
  database: capsule_test
