.container
  .row
    = link_to 'Add A User', new_admin_user_path, class: 'btn btn-primary'

  .autopagerize_page_element

    = paginate @users

    %table.table.table-hover
      %thead
        %tr
          %th ID
          %th First Name
          %th Last Name
          %th Email
          %th
      %tbody
        = render @users

    = paginate @users
