<div id="map-canvas"></div>
<script type="text/javascript">
	var locations = <%= raw @locations.to_json.html_safe %>;
	var markerURL = '<%= asset_url "yada_map_pin.png" %>';

	document.addEventListener("DOMContentLoaded", function(event) { 
	  	setupMapWithLocations(locations, markerURL);
	});
</script>